.container{
    width: 350px;
    margin: 0 auto;
    border: none;
}
header{
    
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: 20px;
}
div{margin-inline: 20px;
    display: block;
    text-align: center;
    align-items: center;
    /* border: 5px solid; */
}
button:active{
    opacity: 0.2;
}

button{
    background-color: rgba(200, 255, 0, 0.788);
}